.lobster {
  font-family: 'Lobster', cursive;
}

.dancing {
  font-family: 'Dancing Script', cursive;
}

.courgette {
  font-family: 'Courgette', cursive;
}

.mw488 {
  max-width: 488px;
}

.bg-red {
  background-color: #AC2926;
}

.bg-senf {
  background-color: #E8C571;
}

.bg-butter {
  background-color: #EDDBAD;
}

.bg-lightGreen {
  background-color: #8FB59C;
}

.bg-green {
  background-color: #54A992;
}

.btn-outline-green {
  color: #8FB59C;
  border-color: #8FB59C;
  background-color: transparent;
}

.btn-outline-green:hover {
  color: #EDDBAD;
  background-color: #54A992;
  border-color: #54A992;
}